

#page-shop .content header h1{
    display: flex;
    justify-content: center;
    padding-top: 59px;
    color: var(--primary-color);
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
}




#page-shop .content header #gridSearchBar #reference img{
    width: 96px;
    height: 96px;
    margin-left: 400px;
    
}
#page-shop .content header #gridSearchBar #reference div{
    font-size: 12px;
    padding-top: 30px;
    padding-left: 280px;
}

#page-shop .content header #gridSearchBar{
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
#page-shop .content header #gridSearchBar input{
    width: 600px;
    height: 40px;
    margin-left: 30px;
    border-radius: 8px 0px 0px 8px;
    border: 0;
    font-size: inherit;
    padding-left : 10px;
}
#page-shop .content header #gridSearchBar #searchButton {
    background-color: var(--primary-color);
    height: 40px;
    width: 40px;
    border-radius: 0px 8px 8px 0px;
}

#page-shop .content header #gridSearchBar #searchButton span #fiSearch{
    stroke: #fff;
    height: 30px;
    width: 30px;
    margin: 5px;
}

#page-shop .content header #gridSearchBar #userButtons #userIcons{
    stroke: var(--primary-color);
    height: 30px;
    width: 30px;
    
}

#page-shop .content header #gridSearchBar #userButtons{
   margin-left: 55px;    
}

#page-shop .content body #productsMenuBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 200px;
    padding: 0px 200px 0px 200px;
    background-color: 0;
}

#page-shop .content body #productsMenuBar .productsMenuButton {
    background-color: var(--primary-color);
    color: #fff;
    width: 220px;
    height: 60px;
    border: 0;
    font-family: Ubuntu, sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 22px;
    
}

#page-shop .content body h2{
    display: flex;
    justify-content: center;
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-size: 20px;
}
#page-shop .content body h3{
    font-family: Ubuntu, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    padding:30px 150px 0px 150px;
}


#page-shop .content body h3 .tab{
    padding-left: 30px;
}

#page-shop .content body #productsContainer {
    border-radius: 8px 8px 8px 8px;
    margin: 80px 150px 0px 150px;
    height: 1000px;
    background-color: #fff;
}


#page-shop .content body #productsContainer #sortingBar {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #e4e4e4;
    height: 64px;
    border-radius: 8px 8px 0px 0px;
}

#page-shop .content body #productsContainer #sortingBar >  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 64px;
}

#page-shop .content body #productsContainer #sortingBar #viewAs > h4, button{
 margin-right: 15px;
 background-color: #e4e4e4;
 border: 0;
 font-size: 16px;
 font-family: Cabin, sans-serif;
}

#page-shop .content body #productsContainer #sortingBar #viewAs button > svg{
    height: 20px;
    width: 20px;
    cursor: pointer;
   }

#page-shop .content body #productsContainer #sortingBar #sorting h4{
    padding-left: 25px;
    font-family: Cabin, sans-serif;
} 

#page-shop .content body #productsContainer #sortingBar #sorting button{
    margin-left: 25px;
    height: 50px;
    font-family: Cabin, sans-serif;
    background: 0;
    border: 0;
    font-size: inherit;
    display: flex;
    align-items: center;
    cursor: pointer;
}

#page-shop .content body #productsContainer #sortingBar button #FiChevronDown{
    margin-left: 10px;
    height: 25px;
    width: 25px;
}

#page-shop .content body #productsContainer #products{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 50px;
    column-gap: 50px;
    padding:  75px 100px;
}

#page-shop .content body #productsContainer #products li img{
    height: 245px;
    width: 245px;
}

#page-shop .content body #productsContainer #products li {
    padding: 25px;
    list-style: none;
    border: 1px solid rgba(127,127,127,0.16);
    box-shadow: 0 1px 4px rgba(127,127,127,0.11);
}

#page-shop .content body #productsContainer #products li h5 {
    padding-top: 15px;
    color: red;
    font-size: 16px;
    font-family: Cabin, sans-serif;
}

#page-shop .content body #productsContainer #products li h6 {
    padding-top: 15px;
    font-size: 15px;
    font-family: Cabin, sans-serif;
}

#page-shop .content footer{
    height: 150px;
}



