:root {
    --primary-color: #00634b;
    --text-color: #4d4d4d;
    
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
    
    
  }
  
  body, header, footer{
    -webkit-font-smoothing: antialiased;
    background-color: rgba(5, 57, 45, 0.1);
  }
  
  